Create Database [SportsJerseyDB]
GO
USE [SportsJerseyDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jerseys]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jerseys](
	[JerseyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[TeamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Jerseys] PRIMARY KEY CLUSTERED 
(
	[JerseyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JerseyStocks]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JerseyStocks](
	[JerseyStockId] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[JerseyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.JerseyStocks] PRIMARY KEY CLUSTERED 
(
	[JerseyStockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamId] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'95d2c3f7-3e05-4206-903a-e64f3338ed06', N'User')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'e84dc360-7e6c-4777-8e29-ca7974d41c68', N'Admin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'85d4851a-768d-4440-9525-32616f35187e', N'e84dc360-7e6c-4777-8e29-ca7974d41c68')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'16ebe85d-d360-4aa5-9bb8-6392ae754d1d', N'Remon98@gmail.com', 0, N'AA/FqkYMSBJB8gmTLkK34iPBpFByj3zpTNiHMGYnhA6qNpz4ndmKekuMldNSpJbKbg==', N'1d0a28cb-8072-4b90-8396-dbb99e958b06', NULL, 0, 0, NULL, 1, 0, N'Remon98@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5e44c1d9-162e-489a-a4dd-8702c4f79dba', N'remon@gmail.com', 0, N'ANROmGajDlbBpVgYrCW1/8EXh22mIwuw5kGcC5gYzBEcreX3hMvzkbty2y+DR6WcBQ==', N'4d12a8d3-ac79-488d-a64a-00e7a672f890', NULL, 0, 0, NULL, 1, 0, N'remon@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'85d4851a-768d-4440-9525-32616f35187e', N'admin', 0, N'AB0FOCvFxM+qSaRPXuhmG1itHwZLJodeZ+DuqOiPeGj6/fr7A1anVcNztgSNk1sSUQ==', N'c58ce0b9-2cdd-459d-8074-78445b3cf526', NULL, 0, 0, NULL, 0, 0, N'admin')
GO
SET IDENTITY_INSERT [dbo].[Jerseys] ON 

INSERT [dbo].[Jerseys] ([JerseyId], [Name], [ReleaseDate], [IsAvailable], [Picture], [TeamId]) VALUES (3, N'Jet Black  DHK', CAST(N'2026-01-06' AS Date), 1, N'1fce9f11-9fa2-4356-8c80-feb528adc948.jpg', 4)
INSERT [dbo].[Jerseys] ([JerseyId], [Name], [ReleaseDate], [IsAvailable], [Picture], [TeamId]) VALUES (4, N'Blue RS', CAST(N'2026-01-28' AS Date), 1, N'12b24191-03b2-4a6f-a0b1-63d488d0bfd4.jpg', 6)
INSERT [dbo].[Jerseys] ([JerseyId], [Name], [ReleaseDate], [IsAvailable], [Picture], [TeamId]) VALUES (5, N'Orange KHN', CAST(N'2025-12-16' AS Date), 1, N'9d964456-130b-41fc-9a8b-a87fcb320b34.jpg', 10)
SET IDENTITY_INSERT [dbo].[Jerseys] OFF
GO
SET IDENTITY_INSERT [dbo].[JerseyStocks] ON 

INSERT [dbo].[JerseyStocks] ([JerseyStockId], [Size], [Price], [Quantity], [JerseyId]) VALUES (15, 0, CAST(500.00 AS Decimal(18, 2)), 100, 3)
INSERT [dbo].[JerseyStocks] ([JerseyStockId], [Size], [Price], [Quantity], [JerseyId]) VALUES (16, 1, CAST(600.00 AS Decimal(18, 2)), 70, 3)
INSERT [dbo].[JerseyStocks] ([JerseyStockId], [Size], [Price], [Quantity], [JerseyId]) VALUES (17, 2, CAST(650.00 AS Decimal(18, 2)), 50, 3)
SET IDENTITY_INSERT [dbo].[JerseyStocks] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([TeamId], [TeamName]) VALUES (4, N'Dhaka')
INSERT [dbo].[Teams] ([TeamId], [TeamName]) VALUES (5, N'Chattogram')
INSERT [dbo].[Teams] ([TeamId], [TeamName]) VALUES (6, N'Rajshahi')
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Jerseys]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Jerseys_dbo.Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([TeamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jerseys] CHECK CONSTRAINT [FK_dbo.Jerseys_dbo.Teams_TeamId]
GO
ALTER TABLE [dbo].[JerseyStocks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JerseyStocks_dbo.Jerseys_JerseyId] FOREIGN KEY([JerseyId])
REFERENCES [dbo].[Jerseys] ([JerseyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JerseyStocks] CHECK CONSTRAINT [FK_dbo.JerseyStocks_dbo.Jerseys_JerseyId]
GO
/****** Object:  StoredProcedure [dbo].[Jersey_Delete]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Jersey_Delete]
    @JerseyId [int]
AS
BEGIN
    DELETE [dbo].[Jerseys]
    WHERE ([JerseyId] = @JerseyId)
END
GO
/****** Object:  StoredProcedure [dbo].[Jersey_Insert]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Jersey_Insert]
    @Name [nvarchar](100),
    @ReleaseDate [date],
    @IsAvailable [bit],
    @Picture [nvarchar](max),
    @TeamId [int]
AS
BEGIN
    INSERT [dbo].[Jerseys]([Name], [ReleaseDate], [IsAvailable], [Picture], [TeamId])
    VALUES (@Name, @ReleaseDate, @IsAvailable, @Picture, @TeamId)
    
    DECLARE @JerseyId int
    SELECT @JerseyId = [JerseyId]
    FROM [dbo].[Jerseys]
    WHERE @@ROWCOUNT > 0 AND [JerseyId] = scope_identity()
    
    SELECT t0.[JerseyId]
    FROM [dbo].[Jerseys] AS t0
    WHERE @@ROWCOUNT > 0 AND t0.[JerseyId] = @JerseyId
END
GO
/****** Object:  StoredProcedure [dbo].[Jersey_Update]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Jersey_Update]
    @JerseyId [int],
    @Name [nvarchar](100),
    @ReleaseDate [date],
    @IsAvailable [bit],
    @Picture [nvarchar](max),
    @TeamId [int]
AS
BEGIN
    UPDATE [dbo].[Jerseys]
    SET [Name] = @Name, [ReleaseDate] = @ReleaseDate, [IsAvailable] = @IsAvailable, [Picture] = @Picture, [TeamId] = @TeamId
    WHERE ([JerseyId] = @JerseyId)
END
GO
/****** Object:  StoredProcedure [dbo].[JerseyStock_Delete]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[JerseyStock_Delete]
    @JerseyStockId [int]
AS
BEGIN
    DELETE [dbo].[JerseyStocks]
    WHERE ([JerseyStockId] = @JerseyStockId)
END
GO
/****** Object:  StoredProcedure [dbo].[JerseyStock_Insert]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[JerseyStock_Insert]
    @Size [int],
    @Price [decimal](18, 2),
    @Quantity [int],
    @JerseyId [int]
AS
BEGIN
    INSERT [dbo].[JerseyStocks]([Size], [Price], [Quantity], [JerseyId])
    VALUES (@Size, @Price, @Quantity, @JerseyId)
    
    DECLARE @JerseyStockId int
    SELECT @JerseyStockId = [JerseyStockId]
    FROM [dbo].[JerseyStocks]
    WHERE @@ROWCOUNT > 0 AND [JerseyStockId] = scope_identity()
    
    SELECT t0.[JerseyStockId]
    FROM [dbo].[JerseyStocks] AS t0
    WHERE @@ROWCOUNT > 0 AND t0.[JerseyStockId] = @JerseyStockId
END
GO
/****** Object:  StoredProcedure [dbo].[JerseyStock_Update]    Script Date: 10/01/2026 13:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[JerseyStock_Update]
    @JerseyStockId [int],
    @Size [int],
    @Price [decimal](18, 2),
    @Quantity [int],
    @JerseyId [int]
AS
BEGIN
    UPDATE [dbo].[JerseyStocks]
    SET [Size] = @Size, [Price] = @Price, [Quantity] = @Quantity, [JerseyId] = @JerseyId
    WHERE ([JerseyStockId] = @JerseyStockId)
END
GO
